<li>
	{{pokemon_name}}

	<button class="change-add" data-id="{{id}}" data-newdevoured="{{add}}">
		{{#if add}}add!{{else}}nothing{{/if}}
	</button>

	{{!-- <button class="devour-pokemon" data-id="{{this.id}}">add!</button> --}}
</li>
