<body class="background">
    <div class="container pokedex">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="pokedex-title">PIKA-CHOOOOOSE!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2 class="pokedex-h2">POKEMON</h2>
                <div class="pokemon">
                    {{#each pokemon}}
                    <button class="btn pokemon-btn" data-id="{{id}}">{{id}}. {{pokemon_name}}</button> <br>
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-8">
                <h2 class="pokedex-h2">STATS</h2>
                <div class="pokemon-stats">
                    <div id="render-pokemon-stats">
                    </div>
                    {{!-- <select class="team-selection hidden">
                        {{#each teambuilder}}
                        <option value="{{id}}" name="team" data-id="{{id}}">{{team_name}}</option>
                        {{/each}}
                        </select> --}}
                    <div id="render-add-btn"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8"><br>
                <button class="btn view-team-btn2">VIEW TEAMS</button>
            </div>

        </div>
    </div>
    <script src="/assets/js/pokemon.js"></script>
</body>