<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Eat it again!{{/if}}
	</button>

	{{!-- <button class="devour-burgers" data-id="{{this.id}}">Devour!</button> --}}
</li>
